footer {
  background-color: #c8e3cb;
  color: #680f3d;
  font-weight: bold;
}

.nav-link,
.copyright {
  color: #680f3d !important;
}


@media all and (max-width: 426px) {
  footer {

    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column-reverse;
    align-content: center;

  }

  footer img {
    display: none;
  }
}
