body {
  font-family: "Roboto", sans-serif;
}

h5 {
  color: #680f3d;
}

.link {
  color: #2764ae;
  font-size: 12px;
}

.glass {
  height: 30px !important;
}

.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

a.reset {
  color: #680f3d;
}
