<div class="offcanvas offcanvas-start" id="demo">
  <button class="btn  offcanvas-btn position-absolute mt-2 listlink" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#demo">
    <span class="btn" style="color: #C8E3CB;">{{ 'LANG.list' | translate
      }}<fa-icon [icon]="faArrowRight"></fa-icon> </span><span>
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </span>
  </button>
  <div class="offcanvas-header">
    <h2 class="offcanvas-title">Around Helsinki</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="checkbox" *ngIf="showCheckbox">
    <ul>
      <li *ngFor="let item of list" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" (change)="onChange($event)" value="{{ item.id }}"
          [(ngModel)]="item.checked" />
        {{ translate.currentLang === 'en' ? item.titleEn : (translate.currentLang === 'se' ? item.titleSv :
        item.titleFi) }}
      </li>
    </ul>
  </div>
  <div class="offcanvas-body">
    <div class="listOfPlaces mb-1 list-group overflow-auto">
      <div *ngFor="let data of sortList | paginate: { itemsPerPage: 7  , currentPage: p }"
        (click)="zoomMap(data.location)">
        <div class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 fs-6">
              <fa-icon *ngIf="data.source_type.id == 2" [icon]="faLocationCrosshairs"></fa-icon>
              <fa-icon *ngIf="data.source_type.id == 1" [icon]="faCalendarCheck"></fa-icon>
              <fa-icon *ngIf="data.source_type.id == 3" [icon]="faPersonWalking"></fa-icon>
              <a class="text-uppercase" style="text-decoration: none; color: #680f3d !important">
                {{ translate.currentLang === "en" && data.name.en !== null ? data.name.en.trim() :
                translate.currentLang === "se" && data.name.sv !== null ? data.name.sv.trim() : data.name.fi.trim() }}
              </a>
            </h5>
            <small id="distance" *ngIf="showDistance">{{data.distance >= 1.0 ? data.distance.toFixed(2) + ' km' :
              data.distance.toFixed(3) * 1000 + ' m'}}</small>
          </div>
          <p class="mb-1 ptext">
            {{ data.location.address.street_address }}
            {{ data.location.address.postal_code }}
            {{ data.location.address.locality }}
          </p>
          <small>
            <a *ngIf="data.source_type.id == 1" routerLink="event/{{ data.id }}" href="#" class="link">{{
              "LANG.moreinfo" | translate
              }}</a>
            <a *ngIf="data.source_type.id == 2" routerLink="place/{{ data.id }}" href="#" class="link">{{
              "LANG.moreinfo" | translate
              }}</a>
            <a *ngIf="data.source_type.id == 3" routerLink="activity/{{ data.id }}" href="#" class="link">{{
              "LANG.moreinfo" | translate
              }}</a>
          </small>
        </div>
      </div>
      <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true" [maxSize]="5"
        (pageChange)="p = $event "></pagination-controls>
    </div>
  </div>
</div>

<div class="d-flex w-100 justify-content-between">
  <div class="map-container">
    <app-map></app-map>
  </div>
</div>
