<h5 class="mb-1 fs-6">
  <fa-icon *ngIf="sourceType == 2" [icon]="faLocationCrosshairs"></fa-icon>
  <fa-icon *ngIf="sourceType == 1" [icon]="faCalendarCheck"></fa-icon>
  <fa-icon *ngIf="sourceType == 3" [icon]="faPersonWalking"></fa-icon>
{{ translate.currentLang === 'en' && nameEn !== null ? nameEn :
  (translate.currentLang === 'se' && nameSv !== null ? nameSv : nameFi) }}
</h5>

<p *ngIf="address">{{ 'LANG.address' | translate }}: {{ address }}, {{ postalCode }} {{ locality }}</p>
<small>
  <a routerLink="{{ type }}/{{ ownPage }}" class="link">{{ 'LANG.moreinfo' | translate }}</a>
</small>
