<div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
</div>
<!-- <div id="infomodul">
  <p>Testi!</p>
  <div *ngFor=" let data of places">
    <div>Place: {{ data.name.fi }}</div>
    <div>Address: {{ data.location.address.street_address }} {{ data.location.address.postal_code }} {{ data.location.address.locality }}
    </div>
    <div>Opening Hours: {{ data.opening_hours.hours[0].weekday_id }} {{ data.opening_hours.hours[0].opens }} {{ data.opening_hours.hours[0].closes }} {{ data.opening_hours.hours[0].open24h }}
    </div>
  </div>
</div> -->

<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
   
<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Open My Modal</button> -->
   
<!-- <ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    This is example from ItSolutionStuff.com
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template> -->