<div class="people-grid">
    <article class="people grid-item">
        <div class="flex">
            <div>
                <img src="../../assets/images/tummeli.png" width="150" alt="tummeli ruonakoski">
            </div>
            <div>
                <h2 class="">Tummeli Ruonakoski</h2>
                <p class="">{{ 'LANG.student' | translate }}</p>
                <a href="https://github.com/TummeliRuonakoski"><fa-icon [icon]="faGit"></fa-icon></a>
                <a href="https://fi.linkedin.com/in/tummeli-ruonakoski"><fa-icon [icon]="faLinkedin"></fa-icon></a>
            </div>
        </div>
    </article>
    <article class="people grid-item">
        <div class="flex">
            <div>
                <img src="../../assets/images/metin.jpg" width="150" alt="metin gerçek">
            </div>
            <div>
                <h2 class="">Metin Gerçek</h2>
                <p class="">{{ 'LANG.student' | translate }}</p>
                <a href="https://github.com/metin-gercek"><fa-icon [icon]="faGit"></fa-icon></a>
                <a href="https://fi.linkedin.com/in/metingercek"><fa-icon [icon]="faLinkedin"></fa-icon></a>
            </div>
        </div>
    </article>
    <article class="people grid-item">
        <div class="flex">
            <div>
                <img src="../../assets/images/liisa.png" width="150" alt="liisa malm">
            </div>
            <div>
                <h2 class="">Liisa Malm</h2>
                <p class="">{{ 'LANG.student' | translate }}</p>
                <a href="https://github.com/liisamalm"><fa-icon [icon]="faGit"></fa-icon></a>
                <a href="https://fi.linkedin.com/in/liisa-malm-668172bb"><fa-icon [icon]="faLinkedin"></fa-icon></a>
            </div>
        </div>
    </article>
    <article class="people grid-item">
        <div class="flex">
            <div>
                <img src="../../assets/images/logo.png" width="150" alt="peter knutas">
            </div>
            <div>
                <h2 class="">Peter Knutas</h2>
                <p class="">{{ 'LANG.student' | translate }}</p>
                <a href="https://github.com/s2100637"><fa-icon [icon]="faGit"></fa-icon></a>
                <a href="#"><fa-icon [icon]="faLinkedin"></fa-icon></a>
            </div>
        </div>
    </article>
</div>