.people-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}

.people {
  font-size: var(--fs-400);
  padding: 2rem;
  border-radius: 0.5rem;
}

.grid-item {
    background-color: #c8e3cb;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
