* {
  color: #680f3d;
}

small {
  font-size: 12px;
  text-align: start;
}

.map-frame {
  border: 2px solid #680f3d;
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  position: sticky !important;
}

.map-container {
  position: relative !important;
  width: 100%;
  height: 250px;
  top: 0em;
  left: 0;
  right: 0;
  bottom: 0;
}

.uusiClass {
  margin-top: 4em;
}
