  .map-container {
  position: relative !important;
    width: 100%; 
    height: 600px;
    top: 0em;
    left: 0;
    right: 0;
    bottom: 0;
   /*  margin: 30px; */
}
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
    width: 100%;
  }
  
  #map {
    height: 100%;
  } 

  /* .map-container {
  margin: 0px;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
}
  
  .map-frame {
    flex: 1 1;
    order: 2;
    display: flex;
  }
  
  #map {
    flex: 1;
  } */
 /* .map-container {
    position: absolute;
    top: 10em;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;

    position: relative !important;
  width: 100%; height: 600px;
  margin: 2px;
  padding: 2px;
} */