.map-container {
  position: relative !important;
  width: 100%;
  height: 600px;
  top: 0em;
  left: 0;
  right: 0;
  bottom: 0;
}

.ptext {
  font-size: 13px;
}

.checkbox {
  background-color: white;
  text-align: center;
  padding-top: 10px;
}

fa-icon {
  padding-right: 5px;
}