<div class="container mb-3">
  <div class="row">
    <div class="col-sm-5 text-center mt-5">
      <img
        width="450px"
        id="view-img"
        src="../../assets/images/logo.png"
        class=""
        alt="image"
      />
      <div class="pt-5">
        <img width="120px" src="../../assets/images/logo.png" alt="" />
      </div>
    </div>

    <div class="col-sm-7 ">
      <div class="pt-5">
        <div>
          <h1 class="">{{places.name.fi}} </h1>
          <h1 class=""> </h1>
          <hr />
          <p class="" style="text-align: justify;">
            {{places.description.body}}
          </p>
        </div>
        <hr />
        <div class="row">
          <span class="material-icons col-1">home</span>
          <p class="col-11">{{places.location.address.street_address}} {{places.location.address.postal_code}} {{places.location.address.locality}}</p>
        </div>
        <div class="row">
          <span class="material-icons col-1">label</span>
          <p class="col-11"></p>
        </div>
      </div>
    </div>
  </div>
</div>
