<div class="wrapper-text">
  <h2>{{ "LANG.description" | translate }}</h2>

  <p>{{ "LANG.text.description" | translate }}</p>
  <h4>{{ "LANG.text.additional" | translate }}</h4>
  <ul>
    <li>{{ "LANG.text.feature1" | translate }}</li>
    <li>{{ "LANG.text.feature2" | translate }}</li>
    <li>{{ "LANG.text.feature3" | translate }}</li>
    <li>{{ "LANG.text.feature4" | translate }}</li>
    <li>{{ "LANG.text.feature5" | translate }}</li>
  </ul>
  <p>
    {{ "LANG.text.api" | translate }}
    <a href="https://open-api.myhelsinki.fi">https://open-api.myhelsinki.fi</a>
  </p>
  <p>{{ "LANG.text.purpose" | translate }}</p>
  <p>{{ "LANG.text.duration" | translate }}</p>
  <p>{{ "LANG.text.assignment" | translate }}</p>
  <p>{{ "LANG.privacy" | translate }}</p>

  <h2>{{ "LANG.people" | translate }}</h2>
</div>
<div class="wrapper-cards">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card card-colors">
        <div class="row">
          <div class="col-md-5">
            <img
              src="../../assets/images/tummeli.jpg"
              class="img-fluid rounded-start"
              alt="tummeli ruonakoski"
            />
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h4 class="card-title">Tummeli Ruonakoski</h4>
              <p class="card-text">{{ "LANG.student" | translate }}</p>
              <a
                href="https://github.com/TummeliRuonakoski"
                class="card-link fa-2x"
              >
                <fa-icon [icon]="faGithub"></fa-icon>
              </a>
              <a
                href="https://www.linkedin.com/in/tummeli-ruonakoski"
                class="card-link fa-2x"
              >
                <fa-icon [icon]="faLinkedin"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-colors">
        <div class="row">
          <div class="col-md-5">
            <img
              src="../../assets/images/metin.jpg"
              class="img-fluid rounded-start"
              alt="metin gerçek"
            />
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h4 class="card-title">Metin Gerçek</h4>
              <p class="card-text">{{ "LANG.student" | translate }}</p>
              <a href="https://github.com/metin-gercek" class="card-link fa-2x">
                <fa-icon [icon]="faGithub"></fa-icon>
              </a>
              <a
                href="https://www.linkedin.com/in/metingercek"
                class="card-link fa-2x"
              >
                <fa-icon [icon]="faLinkedin"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-colors">
        <div class="row">
          <div class="col-md-5">
            <img
              src="../../assets/images/liisa.png"
              class="img-fluid rounded-start"
              alt="liisa malm"
            />
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h4 class="card-title">Liisa Malm</h4>
              <p class="card-text">{{ "LANG.student" | translate }}</p>
              <a href="https://github.com/liisamalm" class="card-link fa-2x">
                <fa-icon [icon]="faGithub"></fa-icon>
              </a>
              <a
                href="https://www.linkedin.com/in/liisa-malm-668172bb"
                class="card-link fa-2x"
              >
                <fa-icon [icon]="faLinkedin"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-colors">
        <div class="row">
          <div class="col-md-5">
            <img
              src="../../assets/images/peter.jpg"
              class="img-fluid rounded-start"
              alt="peter knutas"
            />
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h4 class="card-title">Peter Knutas</h4>
              <p class="card-text">{{ "LANG.student" | translate }}</p>
              <a href="https://github.com/s2100637" class="card-link fa-2x">
                <fa-icon [icon]="faGithub"></fa-icon>
              </a>
              <a href="#" class="card-link fa-2x">
                <fa-icon [icon]="faLinkedin"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
