* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #c8e3cb !important;
  color: #680f3d !important;
}

.navbar-nav li a {
  color: #680f3d;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 5px;
}

nav .logo {
  display: flex;
  align-items: center;
}

#lang {
  text-align: center;
}

.lang {
  background-color: #680f3d;
  color: #f1f8f2;
}

#lang {
  text-align: right;
  padding-right: 10px;
}

#navbarOffcanvasLg {
  background-color: #c8e3cb;
  width: 250px;
  height: auto;
  padding: 10px 15px 0px 15px;
}

.dropdown-item {
  background-color: #AE7127 !important;
  color: #f1f8f2 !important;
}

#offcanvasNavbarLabel {
  margin-top: 20px;
  margin-bottom: 20px;
}

#imageLogo {
  margin-left: 12%;
}

.navbar-brand {
  cursor: pointer;
}

.stroke a,
nav a:after,
nav a:before {
  transition: all .2s;
}

nav a:hover {
  color: #AE7127 !important;

  font-weight: bold !important;
}

nav.stroke a,
nav.fill a {
  position: relative;
}

nav.stroke a:after,
nav.fill a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #AE7127;
  height: 1px;
}

nav.stroke a:hover:after {
  width: 100%;
}

a:active {
  border: 2px inset white;
}

#hambutton {
  margin-left: 20px;
}

#weathercontainer {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 15px;
  margin-bottom: 15px;
}
