<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/logo.png" alt="logo" width="100">
        </a>
        <div class="navbar">
            <a class="nav-link" href="#">{{ 'LANG.home' | translate }}</a>
            <a class="nav-link" href="#">{{ 'LANG.places' | translate }}</a>
            <a class="nav-link" href="#">{{ 'LANG.events' | translate }}</a>
            <a class="nav-link" href="#">{{ 'LANG.activities' | translate }}</a>
        </div>

        <div>
          <label>
            <select #langSelect (change)="translate.use(langSelect.value)">
              <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
            </select>
          </label>
        </div>

        <!-- <div>
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button">
                      Language
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item">English</a></li>
                      <li><a class="dropdown-item">Suomi</a></li>
                      <li><a class="dropdown-item">Svenska</a></li>
                    </ul>
                  </li>
            </ul>
        </div> -->

        <div class="col-md-1 p-2" style="text-align: center;" >

          <img [src]="getIcon(weather.weather[0].icon)" alt="">
          <p >{{ weather.main.temp.toFixed(0)  }}  °C</p>
          <p>{{ 'LANG.city' | translate }}</p>

        </div>
    </div>
</nav>
