<nav>
  <div class="logo col-md-5 stroke">
    <a id="imageLogo" class="navbar-brand" routerLink="home" (click)="sendAll()" href="">
      <img src="../../assets/images/logo.png" alt="logo" width="130px">
    </a>


  </div>
  <div id="open-menu" class="open-menu">
    <fa-icon class="faBars" [icon]="faBars"></fa-icon>
  </div>

  <div class="navbar col-md-5 text-uppercase">
    <ul class="burger-menu">
      <li class="home"><a class="nav-link fs-6" routerLink="home" (click)="sendAll()" href="">{{ 'LANG.all' | translate
          }}</a></li>
      <li class="places"><a class="nav-link fs-6" routerLink="places" (click)="sendPlace()" href="">{{ 'LANG.places' |
          translate }}</a>
      </li>
      <li class="events"><a class="nav-link fs-6" routerLink="events" (click)="sendEvent()" href="#">{{ 'LANG.events' |
          translate }}</a></li>
      <li class="activities"><a class="nav-link fs-6" routerLink="activities" (click)="sendActivity()" href="#">{{
          'LANG.activities' | translate }}</a></li>
    </ul>

  </div>

  <div class="right-side" style="text-align: center;">
    <div class="col-md-1">
      <label>
        <select class="lang" #langSelect (change)="translate.use(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">
            {{ lang }}</option>
        </select>
      </label>
    </div>
    <div class="col-md-1 p-2">
      <img [src]="getIcon(weather?.weather[0].icon)" alt="">
      {{ weather?.main.temp.toFixed(0) }}°C
    </div>
  </div>
  <div class="close-menu">
    <fa-icon class="faTimes" [icon]="faTimes"></fa-icon>
  </div>
</nav>
