<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/logo.png" alt="logo" width="100">
        </a>
        <div class="navbar">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Places</a>
            <a class="nav-link" href="#">Events</a>
            <a class="nav-link" href="#">Activities</a>
        </div>
        <div>
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button">
                      Language
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item">English</a></li>
                      <li><a class="dropdown-item">Suomi</a></li>
                      <li><a class="dropdown-item">Svenska</a></li>
                    </ul>
                  </li>
            </ul>
        </div>
    </div>
</nav>